header{
    text-align: center;
    color:black;
   /*
    background-color: grey;
    border:solid grey;

    */
    margin: 15px;
}

html{
    background-image: linear-gradient(to right, rgb(172, 237, 162) , rgb(245, 245, 155));  

}


main{
    /*background-color: lightgray;*/

    background-image: linear-gradient(to right, rgb(172, 237, 162) , rgb(245, 245, 155));  
    padding:25px;
    display:grid;
    justify-content: center;
    grid-template-columns: 1fr 550px 1fr; 
    grid-template-rows: 1fr 350px 1fr; 

    
    gap: 20px;    
}


#flashcard{
    background-color: white;
    align-self: center;
    text-align: center;
    align-content: center;
    grid-column:  2;
    grid-row:span 1;
    
    width: 100%; 
    height: 100%; 

    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 

    transform-style: preserve-3d;

    perspective: 1000px; 
    cursor: pointer;

    font-size: larger;
}

#flashcardContent_ans{
    transform:  rotateY(180deg); 

}

#bottomButtonContainer{
    display:flex;
    justify-self: center;
    align-self: top;
    gap:30px;
    columns: 2;   
    grid-column:2 ;
    grid-row: 3;
}
.bottomButtons{
    width: 145px;
    height:80px;
    border-radius: 35px;
    background: linear-gradient(to bottom, #dff4ff, #b9c0bf);
    color:black;
    font-weight: bolder;
    cursor: pointer;

}

.bottomButtons:hover{
    background: #cce5cc;
}

#flashcardNumber{
    justify-content: center;
    justify-self:center ;
    align-self: center;
    margin:40px;
   
    color:black;
    font-size: x-large;
    padding: 5px;
    font-weight: bolder;

}


#rightArrow{
    color:black;
    justify-self: left;
    align-self: center;
    grid-column: 3;
    grid-row: 2;
    font-size: xx-large;
    transform: scale(2);
    gap:5px; 
    margin-left: 25px;
    cursor: pointer;

}
#rightArrow:hover{
    transform: scale(2.5); 
    cursor: pointer;

}

#leftArrow{
    color:black;
    justify-self: right;
    align-self: center;
    grid-column: 1;
    grid-row: 2;
    font-size: xx-large;
    transform: scale(2); 
    margin-right: 25px;
    cursor: pointer;

}
#leftArrow:hover{
    transform: scale(2.5);
    cursor: pointer;

}

#backButton{
    width: 145px;
    height:80px;
    border-radius: 35px;
    background: linear-gradient(to bottom, #dff4ff, #b9c0bf);
    color:black;
    justify-self: right;
    font-weight: bolder;
    cursor: pointer;
}


#backButton:hover{
    background: #cce5cc;

}

#setName{

margin-top: 15px;
margin-right: 15px;
margin-bottom: 15px;
margin-left: 15px;
padding:15px;

}


#lines {
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    grid-column: span 3; 
    width:100vw;
  }
  
  
.yellow {
    margin-top: 0;
    height: 10px;
    background: #ffc107;
    width: 100vw;
    grid-column: span 3; 
    align-self: start;  
  }
  
  .green {
    margin-top: 4px; 
    height: 10px;
    background: #175c2b;
    width:100vw;
    grid-column: span 3;
    align-self: start; 
  }

  #home{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 4em;
    text-decoration: none;
    color: #696969;
    font-family: Arial, sans-serif;
}

#header-sets {
        background-color: white;
        padding: 5px;
        border-bottom: 2px solid #154d29;
        display: flex;
        justify-content: flex-end;
        align-items: center;
}
    

    
.logo {
    font-size: 5em;
    font-weight: bold;
    color: #555;
}

.logo span {
    color: #175c2b; 
}