body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(172, 237, 162) , rgb(245, 245, 155));
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid #154d29;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
    color: #555;
}

.logo span {
    color: #175c2b; 
}

.lines {
    position: absolute;
    bottom: 305px;
    left:0;
    width: 100%;
    margin-top: 5px;
    z-index: 0;
}
  
.yellow {
    height: 10px;
    background: #ffc107; 
    width: 100%;
}
  
.green {
    height: 10px;
    background: #175c2b;
    margin-top: 4px;
}

main {
    display: flex;
    flex: 1;
}

.buttons {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
    z-index: 1;
}

.options {
    background: white;
    border: 2px solid #175c2b;
    padding: 20px 60px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    height: 40px;
    width: 200px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #212423;
    background: linear-gradient(to bottom, #dff4ff, #b9c0bf);
}

.options:hover {
    background: #187f18;
    border: 2px solid #071b0c;
    transform: scale(1.05);
}


.display {
    flex: 1;
    margin: 20px;
    border: 4px solid #154d29;
    border-radius: 50px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(172, 237, 162) , rgb(245, 245, 155));
}

.display img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50px;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .buttons {
        flex: none;
        width: 100%;
        padding: 1rem;
    }

    .options {
        font-size: 1em;
        padding: 1rem;
    }

    .display {
        margin: 1rem;
        padding: 1rem;
        width: 80%;
        height: 100%;
    }
}


@media (max-width: 480px) {
    .logo {
        font-size: 2em;
        padding: .5rem;
    }

    .options {
        font-size: 1em;
        padding: 1rem;
    }

    .buttons {
        padding: 1rem;
    }
}
