body{
    margin: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(172, 237, 162) , rgb(245, 245, 155));  
}
a > span{
    font-family: Arial, sans-serif;
    color: #066f14;
}
h1{
    padding: 15px;
    text-align: center;
}
#profilePic{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
#header-sets{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    background-color: white;
}
@media (min-width: 1200px) {
    #flashcardSets{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-row-gap: 25px;
        grid-column-gap: 50px;
        overflow: hidden;
        padding-left: 8em;
        background: #bcb8b8;
    }
}
@media (min-width: 700px) and (max-width: 1199px) {
    #flashcardSets{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-row-gap: 25px;
        grid-column-gap: 50px;
        overflow: hidden;
        background: #bcb8b8;
    }
}
@media (max-width: 699px) {
    #flashcardSets{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-row-gap: 25px;
        grid-column-gap: 50px;
        overflow: hidden;
        justify-content: center;
        background: #bcb8b8;
    }
}
#flashcardSets > a{
    background: white;
    border: 2px solid #175c2b;
    padding: 20px 60px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    height: 40px;
    width: 200px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #212423;
    background: linear-gradient(to bottom, #dff4ff, #b9c0bf);
    text-decoration: none;
  
}
p{
    text-align: center;
    font-size: 1.5em;
}
#flashcardSets > a:hover{
    background: #187f18;
    border: 2px solid #071b0c;
    transform: scale(1.05);
}
#home{
    padding-left: 15px;
    padding-top: 20px;
    font-size: 3em;
    text-decoration: none;
    color: #696969;
    font-family: Arial, sans-serif;
}
#home:hover{
    transform: scale(1.05);
}
#importExport{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    align-content: center;
    gap: 20px;
}
input{
    display: none;
}
#createNew{
    text-decoration: none;
    color: black;
}
.fileUploadC, #createNew{
    background: white;
    border: 2px solid #175c2b;
    padding: 20px 60px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    height: 40px;
    width: 200px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #212423;
    background: linear-gradient(to bottom, #dff4ff, #b9c0bf);
    text-decoration: none;
    padding: 18px 36px;
    cursor: pointer;
}
.fileUploadC:hover, #createNew:hover{
    background: #187f18;
    border: 2px solid #071b0c;
    transform: scale(1.05);
}
.yellow {
    height: 10px;
    background: #ffc107; 
    width: 100%;
}
.green {
    height: 10px;
    background: #175c2b;
    margin-top: 4px;
  }