@import url('../../shared/colorScheme.css'); /* Adjust the path as needed */

body {
    margin: 0;
}

#header-sets{
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid #154d29;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    font-size:large;
}

/*Start Screen*/
#start-screen {
    margin:0;
    padding:0;
}

.shape {
    width: 200px;
    height: 100px;
    background-color: antiquewhite;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    border: 2px solid black; /* Optional border */
}

.set-name{
    color:black;
    margin-left: 0px;
    margin-bottom:0px;
}

/*This method of editting the header is NOT recommended as this is a newer method, many browsers will not support this*/
.title {
    width: 300px;
    height: 50px;
    background-color: rgb(14, 68, 17);
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 00% 100%);
    border: 2px solid black; /* Optional border */
    color: rgb(160, 160, 32);
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: grid;
    padding-left: 10px;
    padding-top: 15px;
}

.mainbox {
    margin: 0;
    padding: 0;
}

#start-button, #quiz-home {
    background: white;
    border: 2px solid #175c2b;
    padding: 20px 60px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    height: 100px;
    width: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #212423;
    background: linear-gradient(to bottom, #dff4ff, #b9c0bf);
}

#start-button:hover, #quiz-home:hover {
    background: #cce5cc;
}

  #preview-image {
    width: 80%;
    height: 50vh;
    background-color: antiquewhite;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border: black solid 1px;
    margin:auto;
    margin-top: 10px;
  }

  #start-quiz-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 75px;
  }

#preview-disclaimer {
    font-style: italic; 
    font-size: 20px;
    color: #175c2b;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
/*End Start Screen*/
/*Quiz Type Selection*/

#quiz-type-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 75px;
}

#quiz-type-options h3 {
    font-size: 50px;
    font-weight: bold;
    color: #175c2b;
    padding: 0;
    margin: 0;
}

#generated-quiz-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 75px;
    background-color: rgb(250, 243, 234);
}

#generated-quiz {
    
}

#question-count {
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    border: black solid 1px;
    border-radius: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#start-quiz {
    background: white;
    border: 2px solid #175c2b;
    padding: 20px 60px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    height: 100px;
    width: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #212423;
    background: linear-gradient(to bottom, #dff4ff, #b9c0bf);
}

/* End Quiz Type Selection */
/*Quiz Screen*/
#quiz-screen {

}

#question {
    height: 200px;
    width: 80%;
    background-color: antiquewhite;
    padding: 10px 10px;
    border: black solid 1px;
    border-radius: 20px;
    align-items:center;
    justify-content: center;
    display: flex;
    margin:auto
}

#question p{
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

#answer-choices{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    padding: 20px 10px;
    margin: auto;
    gap: 20px;
    justify-content: center;

}

.answer{
    height: 200px;
    width: 500px;
    background-color: antiquewhite;
    border: black solid 1px;
    border-radius: 20px;
    margin: auto;
    transition: transform 0.3s ease-in;
    font-size: larger;
}



.answer.wrong {
    transform: scale(0.8);
    background-color: rgba(255,0,0,0.5);
}

.answer.correct {
    transform: scale(0.8);
    background-color: rgba(0,255,0,0.5);
}

.answer.clicked {
    transform: scale(1.1);

}

#next-question {
    display: none;
}

#next-question, #previous-question {
    background: white;
    border: 2px solid #175c2b;
    padding: 20px 60px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    height: 100px;
    width: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #212423;
    background: linear-gradient(to bottom, #dff4ff, #b9c0bf);
}
  
#previous-question:hover, #next-question:hover {
    background: #cce5cc;
}

#question-navigation {
    margin-top: 40px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#question-number {
    font-size: 30px;
    font-weight: bold;
    color: #175c2b;
    padding: 0;
    margin: 0;
    grid-column: 2;
}

#previous-question {
    grid-column: 1;
}

#next-question {
    grid-column:3;
}

/*End Quiz Screen*/
/*Results Screen*/
#results{

}

#results-page {
    width: 85%;
    height: 750px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 45% 45%;
    border: solid black 1px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#results-page h3 {
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #175c2b;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#wrong-questions {
    grid-column: 1;
    grid-row: 2/span 2;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #175c2b;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    height: 600px;
    margin: 20px;
    margin-bottom: 50px;
    overflow-y: auto;
    gap: 10px;
    border-radius: 20px;
    border: solid black 1px;
    padding: 10px;
    
}

#wrong-questions h4 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

#wrong-questions-list {
    padding: 0;
}

.wrong-question-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100px;
    background-color: rgb(203, 198, 192);
    border: black solid 1px;
    border-radius: 20px;
    margin: auto;

}

.question-wrong {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 20px;
    font-weight: bold;
    color: #175c2b;
    padding: 0;
    margin: 0;
}

.selected-answer {
    grid-column: 1;
    grid-row: 2;
    font-size: 15px;
    font-weight: bold;
    color: #cc1c1c;
    padding: 0;
    margin: 0;
}

.correct-answer {
    grid-column: 2;
    grid-row: 2;
    font-size: 15px;
    font-weight: bold;
    color: #108130;
    padding: 0;
    margin: 0;
}


#results-navigation{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 40px;
}

#review-questions, #retry-quiz , #finish-quiz {
    border: 2px solid #175c2b;
    padding: 20px 60px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    height: 100px;
    width: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #212423;
    background: linear-gradient(to bottom, #dff4ff, #b9c0bf);
  }

#review-questions:hover, #retry-quiz:hover, #finish-quiz:hover {
    background: #8a918a;
}

#score {
    background: white;
    border: 2px solid #175c2b;
    padding: 20px 60px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    height: 100px;
    width: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #212423;
    background: linear-gradient(to bottom, #dff4ff, #b9c0bf);
    align-self: center;
    grid-column: 2;
    grid-row: 2/span 2;
    margin-left: 20px;
}
/*End Results Screen*/

/*header elements*/
#title {
    align-content: center;
}

#quiz-home{
    align-content: right;
}

#back {
    align-content: left;
    max-width: 50px;
    max-height: 50px;
}

button:hover {
    background-color: rgb(225, 212, 194);

}

#quiz-type-optons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-image: white;
    width: 600px;
    height: 4000px;
}

#button-image {
    padding:0;
    margin:0;
    max-width: 50px;
    max-height: 50px;
}



@media (max-width: 1100px) {
    .answer {
        width: 400px;
        height: 200px;
    }

    #answer-choices {
        gap: 10px;
    }

    #next-question, #previous-question {
        width: 250px;
        height: 100px;
        font-size: 1em;
    }

    #question-number {
        font-size: 1.5em;
    }
}

@media (max-width: 800px) {
    .answer {
        width: 300px;
        height: 150px;
    }

    #answer-choices {
        gap: 5px;
    }

    #next-question, #previous-question {
        width: 200px;
        height: 80px;
        font-size: 0.8em;
    }

    #question-number {
        font-size: 1.2em;
    }
}

@media (max-width: 700px) {
    #question-navigation {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    #header-sets {
        font-size: medium;
    }
}

@media (max-width: 500px) {
    #header-sets {
        font-size: small;
    }
}

@media (max-height: 975px) {
    .lines {
        position: static !important;
        margin-top: 15px !important;
    }   
}

.lines  {
    position:absolute;
    bottom: 15px;
    left:0;
    width: 100%;
    margin-top: 5px;
  }